@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;0,600;0,700;0,800;1,400&family=Roboto:wght@400;700&display=swap');

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Bold.woff2') format('woff2'),
        url('Raleway-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-SemiBold.woff2') format('woff2'),
        url('Raleway-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Medium.woff2') format('woff2'),
        url('Raleway-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-ExtraBold.woff2') format('woff2'),
        url('Raleway-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.woff2') format('woff2'),
        url('Raleway-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

* {
    padding: 0;
    margin: 0;
	box-sizing: border-box;
}

body {
    font: 400 19px/1 "Raleway", arial, tahoma, sans-serif;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}
ul, li {
	list-style: none;
}

.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.clearfix {
	content: '';
	display: block;
	clear: both;
}

.wrapper {
	overflow: hidden;
}

.banner1 {
	min-height: 100vh;
	background: url(../images/banner.jpg) no-repeat 100% 0;
	background-size: cover;
	max-height: 972px;
}

header {
	background-color: black;
	margin-top: 40px;
	width: 100%;
	position: absolute;
}

.header1 {
	margin: 0 auto;
	max-width: 1230px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	padding: 6px 0 10px;
}

.menu {
	display: flex;
	width: 550px;
	justify-content: space-between;
	margin-top: 20px;
}

.navigation_item a {
	color: #00c0ff;
	font-size: 19.11px;
	font-weight: 500;
}

.container_sport {
	max-width: 800px;
	margin: auto;
	padding-top: 380px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.sport_img {
	max-width: 600px;
}

.sport_img_info {
	margin-top: 58px;
	color: #ffffff;
	font-size: 21.79px;
	font: 400 21.8/1 Raleway;
    text-align: center;
    line-height: 24px;
}

.button {
	margin-top: 102px;
	margin-bottom: 162px;
	color: #3ea2d8;
	background-color: #dcdcdc;
	width: 256px;
	height: 56px;
	border-radius: 24px;
	font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
    url('Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    font-size: 25px;
}

.logo {
	margin-top: 12px;
}


@media (max-width: 1270px) {
	.header1 {
		padding: 6px 50px 10px;
	}
}

@media (max-width: 1100px) {
	.container_sport {
		padding-top: 280px;
	}

	.button {
	margin-top: 80px;
	margin-bottom: 130px;
	}
}

@media (max-width: 880px) {
	.header1 {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.container_sport {
		display: flex;
		max-width: 700px;
		padding-top: 270px;
	}

	.sport_img {
		max-width: 550px;
	}

	.button {
		margin-top: 60px;
		margin-bottom: 100px;
		width: 242px;
		height: 48px;
		font-size: 24px;
	}

	.sport_img_info {
		font-size: 20px;
	    line-height: 22px;
	}
}

@media (max-width: 668px) {
	.container_sport {
		padding-top: 190px;
		max-width: 550px
	}

	.sport_img_info {
		font-size: 18px;
	    line-height: 22px;
		margin-top: 46px;
	}

	.sport_img {
		max-width: 450px;

	}

	.button {
		margin-top: 40px;
		margin-bottom: 75px;
		width: 230px;
		height: 42px;
		font-size: 22px;
	}
}

@media (max-width: 568px) {
	.container_sport {
		padding-top: 200px;
		max-width: 500px
	}

	.sport_img_info {
		font-size: 16px;
	    line-height: 22px;
		margin-top: 38px;
	}

	.sport_img {
		max-width: 440px;

	}

	.button {
		margin-top: 60px;
		margin-bottom: 30px;
		width: 190px;
		height: 38px;
		font-size: 20px;
	}

	.logo {
		margin-top: 8px;
	}
}

@media (max-width: 500px) {
	.container_sport {
		padding: 200px 30px 0;
	}

	.sport_img {
		max-width: 400px;
	}

		.button {
		margin-top: 60px;
		margin-bottom: 30px;
		width: 190px;
		height: 38px;
		font-size: 20px;
	}
}

@media (max-width: 425px) {
	.container_sport {
		padding: 180px 30px 0;
	}

	.sport_img {
		max-width: 370px;
	}
}

@media (max-width: 400px) {
	.sport_img {
		max-width: 350px;
	}

	.container_sport {
		padding: 200px 30px 0;
	}
}

@media (max-width: 373px) {
	.sport_img {
		max-width: 300px;
	}
}

.mobile-button {
	display: inline-block;
	position: relative;
	width: 32px;
	height: 32px;
	display: none;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.mobile-button span {
	display: block;
	height: 4px;
	width: 100%;
	background: #00c0ff;
	transition: .3s;
}

.mobile-button:before,
.mobile-button:after {
	content: '';
	height: 4px;
	width: 100%;
	background: #00c0ff;
	position: absolute;
	left: 0;
	top: 0;
	transition: .3s;
}

.mobile-button:after {
	top: auto;
	bottom: 0;
}

.mobile-button.opened span {
	opacity: 0;
}

.mobile-button.opened:before {
	transform: rotate(45deg);
	top: calc(50% - 2px);
}

.mobile-button.opened:after {
 	transform: rotate(-45deg);
 	bottom: calc(50% - 2px);
}

@media (max-width: 800px) {
	.mobile-button {
		display: inline-flex;
	}

	.menu {
		display: none;
		position: absolute;
		left: 0;
		top: 100%;
		width: 100%;
		padding: 20px 15px;
		text-align: center;
		background: #000;
		margin: 0;
		z-index: 20;
	}


	.header {
		top: 0;
	}

	.header .header1 {
		padding: 8px 15px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: row;
	}
}

.who {
	padding-top: 160px;
	background-color: black;
	max-height: 514px;
}

.who1 {
	max-width: 900px;
	margin: auto;
}

.who1 h2 {
	font-size: 29.17px;
	color: #00c0ff;
	font-weight: 800;
	text-align: center;
}

.who2 {
	padding-top: 44px;
	padding-bottom: 160px;
	text-align: center;
	color: #00c0ff;
	font: 400 18.75px/1.5 "Raleway", arial, tahoma, sans-serif;
}

.container_nature {
	background-color: #1b1b1b;
}

.container_n {
	padding-top: 132px;
	padding-bottom: 120px;
	max-width: 1090px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	margin: auto;
	
}

.n {
	color: #ffffff;
	font: 700 18.7px/1.5 "Raleway", arial, tahoma, sans-serif;
	margin-bottom: 30px;
}

.n1 {
	color: #ffffff;
	font: 400 16.62px/1.5 "Raleway", arial, tahoma, sans-serif;
}

.nature {
	max-width: 288px;
}

@media (max-width: 1148px) {
	.who {
	padding-top: 100px;
	}

	.who2 {
	padding: 30px 30px 100px 30px;
	}

	.container_n {
		padding: 100px 20px 100px 40px;
	}

	.nature {
		max-width: 250px;
	}
}

@media (max-width: 820px) {
	.who {
		padding-top: 64px;
	}

	.who1 h2 {
		font-size: 27px;
	}

	.who2 {
		font-size: 17px;
		padding: 20px 30px 70px 30px;
	}

	.container_n {
		padding: 50px 20px 50px 30px;
	}

	.nature {
		max-width: 200px;
	}

	.n {
		font-size: 16.5px;
	}
}

@media (max-width: 660px) {
	.who {
		padding-top: 46px;
	}

	.who1 h2 {
		font-size: 25px;
	}

	.who2 {
		font-size: 16.5px;
		padding: 20px 30px 46px 30px;
	}

	.container_n {
		padding: 20px 20px 30px 30px;
	}

	.nature {
		max-width: 150px;
	}

	.n {
		font-size: 16.5px;
	}
}

@media (max-width: 540px) {
	.who {
		padding-top: 40px;
	}

	.who1 h2 {
		font-size: 24.5px;
	}

	.who2 {
		font-size: 15.5px;
		padding: 20px 30px 40px 30px;
	}

	.container_n {
		display: flex;
		flex-direction: column;
	}

	.nature {
		max-width: 380px;
	}

	.n {
		color: #ffffff;
		font: 700 17px/1.5 "Raleway", arial, tahoma, sans-serif;
		margin-bottom: 10px;
		margin-top: 40px;
	}

	.n1 {
		color: #ffffff;
		font: 400 15/1.5 "Raleway", arial, tahoma, sans-serif;
	}

	.container_n {
		padding: 5px 20px 30px 30px;
	}
}

@media (max-width: 440px) {
	.who {
		padding-top: 30px;
	}

	.who1 h2 {
		font-size: 24.5px;
	}

	.who2 {
		font-size: 15.5px;
		padding: 14px 30px 30px 30px;
	}

	.n {
		color: #ffffff;
		font: 700 16px/1.2 "Raleway", arial, tahoma, sans-serif;
		margin-bottom: 6px;
		margin-top: 25px;
	}

	.n1 {
		color: #ffffff;
		font: 400 13.5/1 "Raleway", arial, tahoma, sans-serif;
	}
}

.priorities {
	padding: 90px 0 95px;
	background: url(../images/priorities.jpg) no-repeat 100% 0;
	background-size: cover;
	margin: 0;
}

.title-29 {
	font-size: 29px;
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
	margin-bottom: 40px;
	font-family: Roboto, Raleway, Arial, sans-serif;
	color: #00c0ff;
}

.title-38 {
	font-size: 38px;
	line-height: 1.2;
	text-transform: uppercase;
	color: #00c0ff;
	margin-bottom: 15px;
	font-weight: 400;
}


.text {
	font-size: 21px;
	font-weight: 
	line-height: 33.3px;
	color: #00c0ff;
	text-align: center;
	margin: 0 auto 80px;
	max-width: 980px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.col-33 {
	width: calc(33.3% - 23px);
	flex-shrink: 0;
	margin: 0 0 30px;
}

.col-50 {
	width: calc(50% - 15px);
    flex-shrink: 0;
}


.priorities .col-33 {
	text-align: center;
	background: rgba(3,3,3,0.5);
	padding: 58px 85px 75px;
}

.priorities .col-33 h5 {
	text-transform: uppercase;
	color: white;
	font-size: 17px;
	margin: 0 0 55px;
	font-family: Roboto, Raleway, Arial, sans-serif;
	font-weight: 700;
}

.priorities .col-33 p {
	color: #fff;
	font-size: 16.7px;
	line-height: 1.2;
	text-align: left;
	margin: 0 0 55px;
}

.author__name {
	font-size: 15px;
	line-height: 1.2;
	color: #fff;
	text-transform: uppercase;
	font-family:  Roboto, Raleway, Arial, sans-serif;
	margin-bottom: 2px;
	font-weight: 700;
}

.author__position {
	color: #fff;
	font-size: 15px;
}

@media  (max-width: 1133px) {
	.col-33 .priorities {
		padding: 35px 30px 45px;
	}

	.priorities .col-33 h5,
	.priorities .col-33 p {
		margin-bottom: 30px;
	}
}

@media  (max-width: 768px) {
	.col-33 {
		width: calc(50% - 15px);
		margin-bottom: 30px;
	}

	.priorities {
		padding: 60px 0 65px;
	}

	.title-29 {
	font-size: 24px;
	margin-bottom: 25px;
	}

	.text {
		font-size: 18px;
		margin-bottom: 40px;
		line-height: 24px;
	}

	.title-38 {
		font-size: 24px;
		margin-bottom: 25px;
	}
}

@media  (max-width: 480px) {
	.col-33 {
		width: 100%;
	}

	.priorities .col-33 p {
		text-align: center;
	}
}

.above {
	padding: 185px 0 330px;
	background: #000;
	position: relative;
}

.above .text {
	text-align: left;
	margin-bottom: 0;
}

.above__image {
	position: absolute;
	right: 0;
	top: 0;
	width: 50%;
	height: 100%;
	z-index: 5;
	background: url(../images/nature.jpg) no-repeat 0 50%;
	background-size: cover;
	margin: 0;
}

.above .col-50 {
	padding-right: 40px;
}

@media (max-width: 600px) {
	.col-50 {
		width: 100%;
	}

	.above__image {
		display: none;
	}

	.above {
		padding: 60px 0 65px;
	}

	.above .col-50 {
		padding-right: 0;
	}
}

.david {
	background-color: #1b1b1b;
}

.johnson {
	max-width: 806px;
	margin: 0 auto;
}

.johnson p,
.johnson h5 {
	color: #00c0ff;
	font-weight: 600;
	font-family: Raleway, Arial, sans-serif;
	text-align: center;
}

.johnson h5 {
	line-height: 33.3px;
	font-size: 21px;
	padding-top: 128px;
	padding-bottom: 48px;
}

.johnson p {
	line-height: 33.3px;
	font-size: 19px;
	padding-bottom: 60px;
}

@media (max-width: 930px) {
	.johnson h5 {
		font-size: 20px;
	}

	.johnson p {
		font-size: 18px;
	}
}

@media (max-width: 843px) {
	.johnson {
		padding: 0 30px 0 35px;
	}
}

@media (max-width: 750px) {
	.johnson h5 {
		padding-top: 106px;
		padding-bottom: 35px;
	}

	.johnson p {
		padding-bottom: 56px;
}
}

@media (max-width: 600px) {
	.johnson h5 {
		padding-top: 70px;
		padding-bottom: 30px;
	}

	.johnson p {
		padding-bottom: 56px;
	}
}

.buy {
	background: url(../images/buy.jpg) no-repeat 100% 0;
	background-size: cover;
	padding: 210px 100px 208px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin: 0;
}

.tickets {
	max-width: 296px;
	margin: 0;
}

.buy h5 {
	color: #fefefe;
	font-family: Roboto, Raleway, Arial, sans-serif;
	font-size: 58px;
	line-height: 50px;
	font-weight: 700;
	text-align: right;
}

.buy p {
	color: #fefefe;
	font-family: Roboto, Raleway, Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: 400;
	text-align: right;
	padding-top: 22px;
}

.button__2 {
	display: flex;
	justify-content: flex-end;
}

.button_2 {
	margin-top: 32px;
	color: #5ac7f5;
	background-color: #dcdcdc;
	width: 164px;
	height: 46px;
	border-radius: 32px;
	font-family: Roboto, Raleway, Arial, sans-serif;
    font-weight: 400;
    font-size: 25px;
}

@media (max-width: 750px) {
	.buy {
	padding: 190px 100px 190px 0;
	}
}

@media (max-width: 600px) {
	.buy {
	padding: 170px 100px 170px 0;
	}
}

@media (max-width: 520px) {
	.buy {
	padding: 140px 60px 140px 60px;
	}

	.buy h5 {
	text-align: center;
	}

	.buy p {
	text-align: center;
	}

	.button__2 {
	display: flex;
	justify-content: center;
	}
}

@media (max-width: 460px) {
	.buy {
	padding: 100px 50px 100px 50px;
	}
}

.projects {
	background-color: #000;
}

.container_august {
	max-width: 1200px;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	align-items: center;
	align-self: center;
	padding: 206px 0 0 0;
	margin: 0 auto;
}

.august {
	width: 50%;
	padding-bottom: 190px;
}

.aug_img {
	margin: 0 auto;
	display: block;
	padding-left: 190px;
	}

.aug_img2 {
	margin: 0 auto;
	display: block;
	padding-left: 260px;
	}

.aug-20 {
	color: #00c0ff;
	font-size: 17px;
	font-weight: 400;
	text-align: center;
	font-family: Raleway, Arial, sans-serif;
}

.aug-21 {
	color: #00c0ff;
	font-size: 21px;
	font-weight: 500;
	text-align: center;
	font-family: Raleway, Arial, sans-serif;
	padding-top: 14px;
}

.aug-22 {
	color: #00c0ff;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	font-family: Raleway, Arial, sans-serif;
	padding: 46px 100px 0 100px;
}

@media (max-width: 1032px) {
	.august {
	padding-bottom: 140px;
	}

	.container_august {
	padding: 150px 0 0 0;
	}

	.aug_img2 {
	padding-left: 200px;
	}
}

@media (max-width: 860px) {
	.august {
	padding-bottom: 100px;
	}

	.container_august {
	padding: 108px 30px 0 30px;
	}

	.aug_img {
	padding-left: 140px;
	}

	.aug_img2 {
	padding-left: 140px;
	}

	.aug-22 {
	font-size: 16px;
	padding: 36px 60px 0 60px;
	}
}

@media (max-width: 710px) {
		.august {
	padding-bottom: 70px;
	}

	.container_august {
	padding: 80px 20px 0 20px;
	}

	.aug_img {
	padding-left: 84px;
	}

	.aug_img2 {
	padding-left: 84px;
	}

	.aug-20 {
	font-size: 16px;
	}

	.aug-21 {
	font-size: 20px;
	}

	.aug-22 {
	font-size: 15px;
	padding: 30px 20px 0 20px;
	line-height: 1.2;
	}
}

@media (max-width: 575px) {
	.august {
	padding-bottom: 46px;
	}

	.container_august {
	padding: 50px 20px 0 20px;
	}

	.aug_img {
	padding-left: 54px;
	}

	.aug_img2 {
	padding-left: 54px;
	}

	.aug-22 {
	padding: 30px 20px 0 20px;
	line-height: 1;
	}
}

@media (max-width: 500px) {
	.august {
	width: 100%;
	}

	.aug_img {
	display: flex;
	justify-content: center;
	padding-left: 0;
	}

	.aug_img2 {
	display: flex;
	justify-content: center;
	padding-left: 0;
	}
}

.trips {
	background-color: #1b1b1b;
}

.container_trips {
	max-width: 1064px;
	padding: 84px 0 84px 0;
	display: flex;
	align-content: space-between;
	align-items: center;
	align-self: center;
	justify-content: space-between;
	margin: auto;
}

.t {
	text-align: center;
}

.trips h5 {
	color: white;
	font-size: 21px;
	font-weight: 500;
	font-family: Raleway, Arial, sans-serif;
	padding-bottom: 14px;
}

.trips p {
	color: white;
	font-size: 17px;
	font-weight: 500;
	font-family: Raleway, Arial, sans-serif;
}

@media (max-width: 1130px) {
	.container_trips {
	padding: 80px 30px 80px 30px;
	}
}

@media (max-width: 770px) {
	.container_trips {
	max-width: 1064px;
	padding: 40px 30px 0px 30px;
	display: flex;
	flex-direction: column;
	align-content: space-between;
	justify-content: space-between;
	}

	.t {
	padding-bottom: 40px;
	}
}

.ipsum {
	background-color: #000;
}

.ipsum .johnson {
	max-width: 698px;
}

.ipsum h5 {
	font-size: 20px;
	font-weight: 400;
	font-family: Raleway, Arial, sans-serif;
	padding-top: 102px;
	padding-bottom: 12px;
}

.ipsum p {
	font-size: 19px;
	font-weight: 500;
	font-family: Raleway, Arial, sans-serif;
	padding-bottom: 94px;
}

@media (max-width: 680px) {
	.ipsum h5 {
	padding-top: 60px;
	}

	.ipsum p {
	padding-bottom: 60px;
	}

	.ipsum h5 {
	font-size: 19px;
	}
}




